<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @page_title %> </title>
    <%= csrf_meta_tags %>

    <meta name='keywords' content="<% @seo_leywords %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

      <%# rendering the nav to the page from the partial located at shared/application_nav%>
      <%= render "shared/application_nav"%>

      <%= yield %>

      <%# rendering the footer to the page from the partial located at shared/application_footer %>
      <%= render "shared/application_footer" %>
      <%= render "shared/alerts" %>
    </div>
  </body>
</html>
