<!DOCTYPE html>
<html>
    <head>
        <title><%= @page_title %> </title>
        <%= csrf_meta_tags %>

        <meta name='keywords' content="<% @seo_leywords %>" />

        <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

    <%# Checks for current user from app/helper/application_helper %>
    <%= login_helper %>

    <%= yield %>

    <%# location is a local variable that we are passing in and including a classname of 'bottom' to make styling customizable. %>
    <%= render "shared/nav", location: 'bottom'  %>


    </body>
    </html>
