<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= @page_title %> </title>
        <%= csrf_meta_tags %>

        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap" rel="stylesheet">

        <meta name='keywords' content="<% @seo_leywords %>" />

        <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
    <%# renders portfolio nav partial %>
    <%= render 'shared/portfolio_nav'%>
    <%# will not see this header if site admin %>
    <%= render 'shared/portfolio_masthead' unless logged_in?(:site_admin) %>

    <%= yield %>

    <%= render 'shared/portfolio_footer'%>
    <%= alerts %>

    </body>
</html>
