<!DOCTYPE html>
<html>
    <head>
        <title><%= @page_title %> </title>
        <%= csrf_meta_tags %>

        <meta name='keywords' content="<% @seo_leywords %>" />

        <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

    <%# Here we are rendering the nav bar from views/shared/nav %>
    <%# location is a local variable that we are passing in and including a classname of 'top' to make styling customizable. %>
    <%= render "shared/nav", location: 'top' %>

    <%# If the current user is coming from the user model, show logout button, otherwise show register and login button %>
    <% if current_user.is_a?(User) %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "Register", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
    <% end %>

    <%= yield %>

    </body>
</html>
